*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #f9f6f0;
    color: #d2ad94;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: #010848;
}
.logo span{
    color: #d2ad94;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #1B3C53;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d2ad94;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 20px;
}
.header-text h1{
    font-size: 40px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #010848;
}
/*---------------profile-------------*/
#profile{
    padding: 50px 0;
    color: #7ad2f5;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.profile-col-1{
    flex-basis: 35%;
}
.profile-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.profile-col-2{
    flex-basis: 60%;
    text-align: justify;
    color: #d2ad94;
}

.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: #010848;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #010848;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #010848;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*--------------Karya & Project-----------*/
#karya{
    padding: 30px 0;
}
.karya-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.karya-list div{
    background: #010848;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.karya-list h2{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
.karya-list p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    text-align: justify;
}
.karya-list img{
    width: 240px;
    border-radius: 5px;
}
.karya-list div:hover{
    background: #1B3C53;
    transform: translateY(-10px);
}

/*----------------Media------------------*/
#media{
    padding: 50px 0;
}
.media-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.media{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}
.media img{
    width: 80%;
    border-radius: 10px;
    display: block;
}
.media-list div{
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    transition: background 0.5s, transform 0.5s;
}
.media-list h2{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 15px;
}
.media audio {
    margin-bottom: 20px; /* jarak ke PDF */
}
.media h3 {
    margin-top: 20px;
    text-align: center;
}
.btn.btn2{
    display: inline-block;
    background: #ebcebb;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
}
.media-list div:hover{
    background: #010848;
    transform: translateY(-10px);
}

/*----------------Contact---------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #010848;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #010848;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ababaa;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #ebcebb;
    padding: 15px;
    margin: 15px 0;
    color: #010848;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}